@font-face {
  font-family: "Oswald-Regular";
  src: url("assets/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Macondo-Regular";
  src: url("assets/fonts/Macondo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  background: white;
  background-image: linear-gradient(305deg, hsl(0, 0%, 100%) 0%, hsl(0, 0%, 99%) 8%, hsl(0, 0%, 98%) 17%, hsl(0, 0%, 97%) 25%, hsl(0, 0%, 96%) 33%, hsl(0, 0%, 95%) 40%, hsl(0, 0%, 94%) 48%, hsl(0, 0%, 93%) 56%, hsl(0, 0%, 92%) 63%, hsl(0, 0%, 91%) 70%, hsl(0, 0%, 90%) 78%, hsl(0, 0%, 89%) 85%, hsl(0, 0%, 88%) 92%, hsl(0, 0%, 87%) 100%);
}

* {
  font-family: "Oswald-Regular";
  margin: 0;
  padding: 0;
}

.page__welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
  text-align: center;
}
.page__header {
  display: flex;
  flex-direction: row;
  color: red;
  height: 5rem;
}
.page__header__name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 10rem;
  flex-flow: column;
  align-self: center;
  padding-left: 2rem;
}
.page__header__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  list-style: none;
  align-items: center;
}
.page__header__list__item:hover {
  transition: 1.2s;
  color: black;
  cursor: pointer;
}
.page__story {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 10rem;
  align-items: center;
  padding: 0 10rem;
}
@media (min-width: 20rem) {
  .page__story {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }
}
@media (min-width: 60rem) {
  .page__story {
    flex-direction: row;
    padding: 0 5rem;
  }
}
.page__story__text {
  font-size: 1.5rem;
}
.page__story__text::first-letter {
  initial-letter: 3 1;
  font-weight: 800;
  padding-right: 1rem;
  font-family: "Macondo-Regular";
  background: red;
  color: transparent;
  -webkit-background-clip: text;
}
.page__story img {
  height: 30rem;
  width: 30rem;
  border-radius: 0.25rem;
  box-shadow: rgba(173, 94, 94, 0.45) 0px 25px 20px -20p;
}
.page__skills {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 0 5rem;
}
.page__skills h1 {
  font-size: 5rem;
}
.page__skills__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
  justify-content: space-evenly;
}
@media (min-width: 20rem) {
  .page__skills__list {
    margin-top: 5rem;
    gap: 5rem;
    font-size: 2rem;
  }
}
@media (min-width: 40rem) {
  .page__skills__list {
    margin-top: 5rem;
    gap: 1.5rem;
    font-size: 1rem;
  }
}
.page__skills__list__item {
  display: flex;
  flex-direction: column-reverse;
}
.page__skills__list__item img {
  height: 5rem;
  width: 5rem;
  align-self: center;
}
.page__portfolio {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
  height: 20rem 0;
}
.page__contact {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
  height: 20rem;
}/*# sourceMappingURL=style.css.map */