@import "./styles/animations.scss";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/fonts/fonts.scss";
@import "./styles/animations.scss";

// import the components

@import "./styles/components/dialog.scss";
body {
  background: white;
  overflow-x: hidden;
}

* {
  font-family: "Oswald-Regular";
  margin: 0;
  padding: 0;
  scroll-margin-top: 8rem;

}
button {
  align-items: center;
  width: 5.5rem;
  border: none;
  border-radius: 0.25rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;

  &__mobile-menu {
    display: block;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;

    &__list {
        display: none;
       
        align-items: center;
        list-style: none;
        font-size: 2rem;

      &--show{
        display: flex;
        transition: 2.4s;
        flex-direction: column;

      }

      &__item {

        &:first-child {
          border-top: none;
        }
        cursor: pointer;
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0.5rem;
        border-top: 1px solid red;
      
      }
      
    }

    &__icon {
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &__bar1, &__bar2, &__bar3 {
        background-color: red;  
        height: 0.25rem;
        width: 1.75rem;
        margin: 0.15rem;   
        transition: 0.4s;   
      }
    }
  }

  &__welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    text-align: center;
  }

  &__header {
    display: none;
    flex-direction: row;
    color: red;
    height: 5rem;
    font-size: 1.25rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
  

    &__name {
      display: flex;
      flex-grow: 1;
      align-items: center;
      width: 10rem;
      flex-flow: column;
      align-self: center;
      padding-left: 5rem;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      list-style: none;
      align-items: center;
      &__item {
        &:hover {
          transition: 1.2s;
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  &__story {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 10rem;
    align-items: center;
    padding: 0 10rem;

    @include responsive(512px)
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include responsive(1312px)
    {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text {
      font-size: 1.5rem;

      // &::first-letter {
      //   initial-letter: 3 1;
      //   font-weight: 800;
      //   padding-right: 1rem;
      //   font-family: "Macondo-Regular";
      //   background: red;
      //   color: transparent;
      //   -webkit-background-clip: text;
      // }
    }

    

    &__picture {
      height: 30rem;
      width: 30rem;
      border-radius: 0.25rem;
      box-shadow: rgba(173, 94, 94, 0.45) 0px 25px 20px -20p;
    }

    &__links {
      display: flex;
      gap: 1rem;
      margin-top: 0.75rem;

      &__icon {
        height: 2.75rem;
        width: 2.75rem;
        gap: 2rem;

         
        &:hover {
          opacity: 1;
          transform: scale(1.15);
          filter: saturate(1.5);
        }
  
        @include responsive(10rem) {
          height: 4.75rem;
          width: 4.75rem;
        }
      }
    }
  }

  &__skills {
    h1 {
      font-size: 5rem;
    }
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    padding: 0 5rem;

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      text-align: center;
      gap: 2.5rem;
      
      @include responsive(20rem) {
        margin-top: 5rem;
        gap: 5rem;
        font-size: 2rem;
      }
      @include responsive(40rem) {
        margin-top: 5rem;
        gap: 1.5rem;
        font-size: 1rem;
      }
      justify-content: space-evenly;
      &__item {
        display: flex;
        flex-direction: column-reverse;
        img {
          @include icon;
          align-self: center;
        }
      }
    }
  }
  &__portfolio {
    padding: 0 5rem;
    h1 {
      font-size: 5rem;
    }
    &__cardslist {
      display: flex;
      gap: 2.5rem;
      list-style: none;
      margin-top: 5rem;
      justify-content: center;
    }
    &__card {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 15rem;
      border-radius: 1rem;
      padding: 0.75rem;

      &__icon {
        height: 4rem;
      }
    }
  }
  &__contact {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    height: 20rem;
  }
}

.animation--skills-list {
  animation: popup-skills 2s ease-in ;
}

.animation--story {
animation: fade-in 1.75s ease-in-out forwards; 
}

.animation--dialog {
animation: pop-up 1s ease-in-out;
}

