@import "./styles/animations.scss";
@import "./styles/variables.scss";
@import "./styles/mixins.scss";
@import "./styles/fonts/fonts.scss";

body {
  background: white;
  background-image: linear-gradient(
    305deg,
    hsl(0deg 0% 100%) 0%,
    hsl(0deg 0% 99%) 8%,
    hsl(0deg 0% 98%) 17%,
    hsl(0deg 0% 97%) 25%,
    hsl(0deg 0% 96%) 33%,
    hsl(0deg 0% 95%) 40%,
    hsl(0deg 0% 94%) 48%,
    hsl(0deg 0% 93%) 56%,
    hsl(0deg 0% 92%) 63%,
    hsl(0deg 0% 91%) 70%,
    hsl(0deg 0% 90%) 78%,
    hsl(0deg 0% 89%) 85%,
    hsl(0deg 0% 88%) 92%,
    hsl(0deg 0% 87%) 100%
  );
}

* {
  font-family: "Oswald-Regular";
  margin: 0;
  padding: 0;
}

.page {
  &__welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    text-align: center;
    img {
      height: 30rem;
      width: 30rem;
      border-radius: 0.25rem;
      box-shadow: rgba(173, 94, 94, 0.45) 0px 25px 20px -20p;
    }
  }
  &__story {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    height: 20rem;

    &__text {
      padding: 0 10rem;
      font-size: 1.5rem;

      &::first-letter {
        initial-letter: 4 1;
        font-weight: 800;
        padding-right: 1rem;
        font-family: "Macondo-Regular";
        background: red;
        color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
  &__skills {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    height: 20rem;
  }
  &__portfolio {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    height: 20rem 0;
  }
  &__contact {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20p;
    height: 20rem;
  }
}
