@font-face {
  font-family: "Oswald-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Macondo-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Macondo-Regular.ttf") format("truetype");
}
